In [22]:
x = 5
y = x + 5
z = 2 * y
print(z)

x = 12
y = x + 5
z = 2 * y
print(z)

x = 55
y = x + 5
z = 2 * y
print(z)

20
34
120

In [21]:
def f(x):
    y = x + 5
    z = 2 * y
    print(z)

f(5)
f(12)
f(55)

20
34
120

In [27]:
def f(x):
    y = x + 5
    z = 2 * y
    return z

f(5)
f(12)
f(55)

120

In [28]:
k = f(7)
print(k)

24

In [29]:
a = f(3) + f(5)

In [30]:
print(a)

36

In [33]:
def g(k):
    l = k ** 2
    m = 5 + l 
    return m 

a = g(4)
b = g(5)
c = a + b 
print(c)

51

In [34]:
def diziyi_yaz(n):
    """
    0'dan n'ye kadar olan sayıları ekrana yazdırır
    """ 
    for i in range(n):
        print(i, end=" ")

In [35]:
diziyi_yaz(5)

0 1 2 3 4

In [36]:
diziyi_yaz(12)

0 1 2 3 4 5 6 7 8 9 10 11

In [39]:
def diziyi_dondur(n):
    """ 
    1'den n'ye kadar olan sayıları string olarak döndüren fonksiyon 
    diziyi_dondur(3) -> "1 2 3 "
    diziyi_dondur(5) -> "1 2 3 4 5 "
    """
    s = ""
    for i in range(n):
        s = s + str(i) + " " 
    return s

In [42]:
sayilar = diziyi_dondur(5)
print(sayilar)
print(sayilar[:3])

0 1 2 3 4
0 1

In [43]:
def h(x):
    yy = 2 * x 
    zz = 3 * yy 
    return zz 

h(4)

24

In [44]:
yy

NameError: name 'yy' is not defined

In [45]:
# n! sayısını hesaplayan bir fonk
def faktoryel(n):
    sonuc = 1 
    for i in range(1, n+1):
        sonuc *= i 
    return sonuc 

print(faktoryel(3), faktoryel(5))

6 120

In [46]:
faktoryel(8)

40320

In [49]:
# 1 1 2 3 5 8 13
def fibonacci(n):
    n_2 = 1 
    n_1 = 1 
    if n < 1:
        print("n sayısı minimum 1 olmalıdır!")
        return -1 
    elif n == 1:
        return 1 
    elif n == 2:
        return 1 
    
    for i in range(3, n+1):
        son = n_2 + n_1 
        n_2 = n_1 
        n_1 = son 
    return son

print(fibonacci(3), fibonacci(4), fibonacci(5))

2 3 5

In [54]:
print(fibonacci(2))

1

In [59]:
# bir sayının asal sayı (1 ve kendinden başka bir böleni olmayan) olup olmadığını bulan bir fonk 

def asal_mi(x):
    """ 
    eğer x asalsa True; asal değilse False dönelim
    """
    for i in range(2, int(x/2) + 1):
        if x % i == 0:
            return False 
    
    return True

print(asal_mi(2), asal_mi(8), asal_mi(13), asal_mi(24), asal_mi(97))

True False True False True

In [58]:
int(97/2)

48

In [60]:
def tum_asallar(n):
    for i in range(2, n):
        if asal_mi(i):
            print(i)

tum_asallar(40)

2
3
5
7
11
13
17
19
23
29
31
37